*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
    /* height: 100vh; */
}
/* home */
.page1{
    /* width: 100vw; */
    height: 100vh;
}
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;

    height: 60px;
    width: 100%;

    background-color: #5f6264;

    display: flex;                 
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;
    box-sizing: border-box;
}
  
.name{
    color: white;
}
.navi{
    display: flex;
    gap: 30px;
    
    
    
}
.navi  a{
    text-decoration: none;
    color: white;
}

.home2{
    background-color: rgb(0, 0, 0);
    height: 640px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
/* image */
.image{
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    margin-left: 300px;  
    margin-top: 190px;
    
    
}
/* intro */
.intro{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 160px;
    margin-left: 200px;
}
h1{
    color: #F0EDDB;  
}
h2{
    color: white;
    margin-top: 10px;
}
.social{
    color: white;
    margin-top: 30px;
}
.image-div{
    padding: 50px;
    
}
.socialicon{
    font-size: 50px;
    
}    
.socialicondiv{
    flex-direction: row;
    display: flex;   
}
#linkedin:hover{
    transform: scale(1.05);
}
#whatsapp:hover{
    transform: scale(1.05);
}
#instagram:hover{
    transform: scale(1.05);
}
/* page 2 */
.page2{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about{
   margin-top: 90px;
}
.aboytdiv{
   
}
.myself{
     height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.myselfdiv{
    color: white;
    width: 70vw;
    margin-top: 80px;
}
/* skiils */
.page3{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.skiils{
    background-color: rgb(20, 220, 20);
   
   
}
.skillsdiv{
    margin-top: 200px;
    /* margin-bottom: 150px; */
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 700px;
    
}
.icondiv{
    flex-direction: row;
    display: flex;
}
#html{
    font-size: 600%;
}
#java{
    font-size: 600% 
}
#python{
     font-size: 600%
}
#git{
     font-size: 600%
}
#css{
     font-size: 600%
}
#html:hover{
   transform: scale(1.05); 
}
#java:hover{
    transform: scale(1.05);
}
#python:hover{
    transform: scale(1.05);
}
#git:hover{
    transform: scale(1.05);
}
#css:hover{
    transform: scale(1.05);
}
/* page4 */

.page4{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.project{
    margin-top: 100px;
}
.spotifydiv{
  margin-top: 70px;
   
}
/* page5 */
.page5{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
.contact{
    margin-top: 150px;
}
.border{
    display: flex;
    width: 80vw;
    margin-top: 150px;
}
.contactimg{
   
   height: 400px;
    width: 700px;
    justify-content: center;
}
.contactimage{
    height: 300px;
    width: 400px;
    /* margin-left: 250px; */
    margin-top: 30px;
    
    

}
.form{
   
}
.formdiv{
/* margin-left: 100px; */
height: 400px;
    width: 700px;
    padding: 5px;
   
}

.submit{
    height: 50px ;
    width: 300px;
    margin-top: 12px;
}
h4{
    margin-top: 10px;
    color: white;
}
.t1{
    width: 300px ;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #5f6264;
    background-color: black;
    color: white;
}
.t2{
    width: 300px ;
    height: 40px; 
    border-radius: 5px;
    border: 2px solid #5f6264;
    background-color: black;
    color: white;
}
.t3{
    width: 300px ; 
    height: 80px; 
    border-radius: 5px;
    border: 2px solid #5f6264;
    background-color: black;
    color: white;
}
.submitbut{
    background-color: #5f6264;
    color: white;
    border: 2px solid #ffffff;

}
